extends index

block content
  div(class = 'w-[90%]')
    ul(class = 'flex flex-col gap-2') 
      li 
        label(class = 'font-semibold text-xl') Name
        p(class = 'text-xl') #{user.name}
      li 
        label(class = 'font-semibold text-xl') Email
        p(class = 'text-xl') #{user.email}
      a(
        href = '/edit'
        class = 'inline-block md:w-fit text-center flex-1 bg-slate-900 text-slate-100 font-semibold px-8 py-2 mt-4 rounded-xl'
      ) Edit
