doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title= title
      link(rel='stylesheet' type="text/css" href='/styles/global.css')
    body
      div(class = 'w-screen h-screen bg-slate-100 flex flex-col gap-4 items-center')    
        include _header
        block content

      script(src='/js/index.js')
