extends index

block content
    form(id='signin-form' class = 'flex flex-col gap-4 w-[90%] max-w-[400px]') 
      input(
        type = 'email'
        name = 'email'
        id= 'email'
        placeholder = 'Email address'
        class = 'bg-transparent p-2 border-2 border-slate-800 rounded-xl outline-0 text-slate-900'
      )
      input(
        type = 'password'
        name = 'password'
        id= 'password'
        placeholder = 'Password'
        class = 'bg-transparent p-2 border-2 border-slate-800 rounded-xl outline-0 text-slate-900'
      )
      button(
        type = 'submit'
        class = 'bg-slate-900 text-slate-100 font-semibold p-2 mt-4 rounded-xl hover:scale-105 transition'
      ) Sign in
      a(href = '/signup' class = 'text-slate-800 underline text-sm') You don't have an account. Sign up!
      a(href = '/forgot-password' class = 'text-slate-800 underline text-sm') Forgot password.
