extends index

block content
  div(class = 'w-screen h-screen bg-slate-800 flex flex-col gap-4 items-center pt-32')    
    h1(class = 'text-3xl font-semibold text-slate-100') Authenticator
    form(class = 'bg-slate-900 px-6 py-8 flex flex-col gap-4 w-[90%] max-w-[400px] mx-auto rounded-2xl') 
      input(
        type = 'email'
        name = 'email'
        id= 'email'
        placeholder = 'Email Address'
        class = 'bg-transparent p-2 border-2 border-slate-800 rounded-xl outline-0 text-slate-100'
      )
      input(
        type = 'password'
        name = 'password'
        id= 'password'
        placeholder = 'Password'
        class = 'bg-transparent p-2 border-2 border-slate-800 rounded-xl outline-0 text-slate-100'
      )
      button(
        type = 'submit'
        class = 'bg-slate-500 text-slate-100 font-semibold p-2 mt-4 rounded-xl hover:scale-105 transition'
      ) Sign up
      a(href = '/signin' class = 'text-slate-600 underline') You have already an account. Sign in!
